@if(totalPages$ | async; as totalPages) {
    @if(currentPage$ | async; as currentPage) {
<div class="pagination-container">
  <button
    mat-button
    mat-raised-button
    color="primary"
    (click)="previousPage(currentPage)"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>

  <button
    mat-button
    mat-raised-button
    color="primary"
    (click)="nextPage(currentPage)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
    }

  }
